Repository titanlabsco/SafeTrust: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format, biome lint --write ./src --concurrent false

.lintstagedrc:

{
  "*.ts": "biome format",
  "*.tsx": ["biome format", "biome lint --write ./src --concurrent false"],
  "*.js": "biome format"
}

feat: add biome configuration file with linter and formatter settings
  biome.json
Due: none

chore: add pre-commit hook to run format and lint staged files
  .husky/pre-commit
Due: none

chore: update lint-staged config and tsconfig include paths
  .lintstagedrc
  tsconfig.json
Due: none

chore: update lint-staged config to specify src directory for biome format
  .lintstagedrc
Due: none

feat(verification): Verification email code mutation
  app/auth/email-verification/page.tsx
  package-lock.json
Due: biome format, biome lint --write ./src --concurrent false

remove msw for breaking the code
  .eslintrc.cjs
  .github/workflows/test.yml
Due: none

feat:add translations for Interested People view
  package-lock.json
  src/i18n/resources.ts
Due: biome format

feat: Add missing translations for Interested People view
  src/i18n/resources.ts
Due: biome format

refactor: Clean up and refactor translations for Interested People view
  src/i18n/resources.ts
Due: biome format

feat(update): Update email-verification
  app/auth/email-verification/page.tsx
Due: biome format, biome lint --write ./src --concurrent false

feat: add translations for email verification
  src/i18n/resources.ts
Due: biome format

feat: add missing translation keys
  src/i18n/resources.ts
Due: biome format

feat: add translations for user profile section
  app/layout.tsx
  app/profile/page.tsx
  src/components/profile/AccountOverview.tsx
  src/components/profile/ProfileForm.tsx
  src/layouts/profile/Sidebar.tsx
Due: biome format, biome lint --write ./src --concurrent false

feat: add translations for home section
  src/components/home/PropertyCard.tsx
  src/components/home/PropertyList.tsx
Due: biome format, biome lint --write ./src --concurrent false

refactor(lint-staged): consolidate format commands for multiple file types
  .lintstagedrc
Due: none

fix: update husky pre-commit script and package.json lint commands
  .husky/pre-commit
  package.json
Due: none

feat: add translations for house section
  src/components/house/PropertyDetails.tsx
  src/layouts/house/Sidebar.tsx
Due: biome format, biome lint --write ./src --concurrent false

feat: add translations for my apartments section
  app/profile/my-apartments/page.tsx
  src/components/profile/pages/ApartmentsComponent.tsx
Due: biome format, biome lint --write ./src --concurrent false

fix: update translation file
  src/i18n/resources.ts
Due: biome format

Implement Paid State Bid Request Page
  app/bids/pages/page.tsx
  package-lock.json
  package.json
  src/components/bids/InvoiceDetails/index.tsx
  src/components/bids/InvoiceHeader/index.tsx
  src/components/bids/NotesSection/index.tsx
  src/components/bids/ProcessTimeline/index.tsx
  src/layouts/Header.tsx
  src/layouts/paidStateBidRequest/Header.tsx
Due: biome format, biome lint --write ./src --concurrent false

Implement Paid State Bid Request Page review
  app/bids/pages/page.tsx
  public/img/icon1.jpg
  public/img/icon2.jpg
  src/components/bids/ProcessTimeline/index.tsx
Due: biome format, biome lint --write ./src --concurrent false

feat: Add translations for interested people section
  app/profile/interested-people/page.tsx
  src/components/Table.tsx
  src/components/interestedPeople/ApartmentDetails.tsx
  src/components/interestedPeople/DropdownPagination.tsx
  src/components/interestedPeople/SearchAndFilter.tsx
  src/hooks/profile/interested-people/useSearchAndFilter.ts
Due: biome format, biome lint --write ./src --concurrent false

feat: update status in view and translations
  src/components/Table.tsx
  src/i18n/resources.ts
Due: biome format, biome lint --write ./src --concurrent false

fix(graphql-client): update GraphQL client initialization with secure headers
  app/auth/email-verification/page.tsx
Due: biome format, biome lint --write ./src --concurrent false

feat: add language switch with flags and fix minor bug
  public/img/en.png
  public/img/es.png
  src/components/language/LanguageSwitcher.tsx
  src/layouts/Header.tsx
Due: biome format, biome lint --write ./src --concurrent false

feat: add translations for category sidebar
  src/layouts/Sidebar.tsx
Due: biome format, biome lint --write ./src --concurrent false

feat: add translations for email verification section
  app/auth/email-verification/page.tsx
Due: biome format, biome lint --write ./src --concurrent false

feat: add reservation toast translations
  src/hooks/escrow/useBookReservation.ts
  src/i18n/resources.ts
Due: biome format

feat(ui): add dark mode theme support
  app/layout.tsx
  app/page.tsx
  app/profile/page.tsx
Due: biome format, biome lint --write ./src --concurrent false

feat(ui):add dark mode theme support
  public/img/logolight.png
  src/components/ThemeToggle.tsx
  src/providers/ThemeProvider.tsx
Due: biome format, biome lint --write ./src --concurrent false

feat(ui):add dark mode theme support
  README.md
  package-lock.json
  src/components/home/PropertyCard.tsx
  src/components/home/PropertyList.tsx
  src/components/house/PropertyDetails.tsx
  src/components/profile/AccountOverview.tsx
  src/components/profile/CountrySelect.tsx
  src/components/profile/ProfileForm.tsx
  src/layouts/Header.tsx
  src/layouts/Sidebar.tsx
  src/layouts/house/Sidebar.tsx
  tailwind.config.ts
Due: biome format, biome lint --write ./src --concurrent false

feat: Add email verification section translation
  app/auth/email-verification/page.tsx
  src/i18n/resources.ts
Due: biome format, biome lint --write ./src --concurrent false

Feat: Tenant Flow
  app/auth/tenant-register/page.tsx
  package-lock.json
  package.json
  src/components/auth/login/LoginCard.tsx
  src/components/auth/tenant-register/EmailVerification.tsx
  src/components/auth/tenant-register/PasswordStrengthIndicator.tsx
  src/components/auth/tenant-register/TenantRegistration.tsx
  src/graphql/queries/userMutations.graphql.ts
  src/layouts/Sidebar.tsx
  tsconfig.json
Due: biome format, biome lint --write ./src --concurrent false

Fix: Update readme with proper setup instructions
  README.md
Due: none

Feat: Add initial social auth setup
  global.d.ts
  package-lock.json
  src/components/auth/AuthButtons.tsx
  src/config/firebase.ts
  tsconfig.json
Due: biome format, biome lint --write ./src --concurrent false

Feat: Tenant Flow - UI Improvements
  app/auth/tenant-register/page.tsx
  app/layout.tsx
  src/components/auth/AuthButtons.tsx
  src/components/auth/login/LoginCard.tsx
  src/components/auth/login/LoginForm.tsx
  src/components/auth/tenant-register/TenantCard.tsx
  src/components/auth/tenant-register/TenantRegister.tsx
  src/components/auth/tenant-register/TenantRegistration.tsx
Due: biome format, biome lint --write ./src --concurrent false

Fix conflicts with packages
  package-lock.json
  package.json
Due: none

Fix: typo
  app/auth/login/page.tsx
Due: biome format, biome lint --write ./src --concurrent false

Resolved conflicts in package-lock.json and package.json
  README.md
  app/auth/login/page.tsx
  app/auth/tenant-register/page.tsx
  app/layout.tsx
  global.d.ts
  package-lock.json
  package.json
  src/components/auth/AuthButtons.tsx
  src/components/auth/login/AuthButtons.tsx
  src/components/auth/login/LoginCard.tsx
  src/components/auth/login/LoginForm.tsx
  src/components/auth/tenant-register/EmailVerification.tsx
  src/components/auth/tenant-register/PasswordStrengthIndicator.tsx
  src/components/auth/tenant-register/TenantCard.tsx
  src/components/auth/tenant-register/TenantRegister.tsx
  src/config/firebase.ts
  src/graphql/queries/userMutations.graphql.ts
  src/layouts/Header.tsx
  src/layouts/Sidebar.tsx
  tsconfig.json
Due: biome format, biome lint --write ./src --concurrent false
